/* 小屏 */
@media only screen and (max-width: 600px) {
	.detail{
		padding: .3rem;
		background: rgba(255,255,255,.5);
		transition: all .3s;
		.titl{
			display: none;
			// position: relative;
			// height: 1.12rem;
			// line-height: .92rem;
			// text-align: center;
			// font-size: .4rem;
			// font-weight: 700;
			// color: #000;
		}
		.imgFoo{
			max-height: 8rem;
			overflow: hidden;
			&.img_titl{
				max-height: 12rem;
				text-align: center;
			}
			img{
				max-width: 100%;
				object-fit: cover;
			}
		}
		.detailCont{
			p{
				font-size: .32rem;
			}
		}
		.detailFooter{
			padding-top: .4rem;
			p{
				font-size: .26rem;
				color: #000;
				span{
					line-height: 1.8;
				}
				i{
					display: inline-block;
					width: .28rem;
					height: .28rem;
					background: url(~@/assets/img/icon/date.png) no-repeat;
					background-size: 100%;
				}
				&.biaoqian{
					i{
						background: url(~@/assets/img/icon/biaoqian.png) no-repeat;
						background-size: 100%;
					}
				}
			}
		}
	}
}
/* 大屏 */
@media only screen and (min-width: 600px) {
	.wp70{
		width: 70%;
	}
	.detail{
		position: relative;
		max-width: 960px;
		margin: 0 auto;
		padding: 30px 20px;
		background: rgba(255,255,255,.5);
		.titl{
			position: relative;
			height: 92px;
			line-height: 92px;
			text-align: center;
			font-size: 20px;
			font-weight: 700;
			color: #000;
			&:before{
				content: '';
				position: absolute;
				left: 50%;
				top: 0;
				transform: translateX(-50%); 
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 16.5px 28.6px 16.5px;
				border-color: transparent transparent #f1f1f1 transparent;
			}
			&:after{
				content: "";
				position: absolute;
				background-color: #f1f1f1;
				width: 28px;
				height: 28px;
				border-radius: 50%;
				left: 50%;
				bottom: 0;
				transform: translateX(-50%);
			}
		}
		.imgFoo{
			max-height: 400px;
			overflow: hidden;
			&.img_titl{
				max-height: 600px;
				text-align: center;
			}
			img{
				max-width: 100%;
				// object-fit: cover;
			}
		}
		.detailFooter{
			padding-top: 40px;
			p{
				line-height: 30px;
				font-size: 13px;
				color: #000;
				i{
					display: inline-block;
					width: 14px;
					height: 14px;
					background: url(~@/assets/img/icon/date.png) no-repeat;
					background-size: 100%;
					vertical-align: middle;
				}
				&.biaoqian{
					i{
						background: url(~@/assets/img/icon/biaoqian.png) no-repeat;
						background-size: 100%;
					}
				}
			}
		}
	}
}