/* 小屏 */
@media only screen and (max-width: 600px) {
	.detail{
		padding: .3rem;
		font-size: .24rem;
		background: rgba(255,255,255,.5);
		transition: all .3s;
		.titl{
			display: none;
			// position: relative;
			// height: 1.12rem;
			// line-height: .92rem;
			// text-align: center;
			// font-size: .4rem;
			// font-weight: 700;
			// color: #000;
		}
		.hljs{
			font-size: initial;
		}
		// heading
		.heading{
			font-size: .32rem;
			font-weight: bold;
			padding-bottom: 0;
			color: #333;
			line-height: 1.5;
			padding-bottom: .1rem;
			border-bottom: 1px solid #ddd;
		}
		.lineP{
			margin-top: .2rem;
		}
		.detailFooter{
			padding-top: .4rem;
			p{
				font-size: .26rem;
				color: #000;
				span{
					line-height: 1.8;
				}
				i{
					display: inline-block;
					width: .28rem;
					height: .28rem;
					background: url(~@/assets/img/icon/date.png) no-repeat;
					background-size: 100%;
				}
				&.biaoqian{
					i{
						background: url(~@/assets/img/icon/biaoqian.png) no-repeat;
						background-size: 100%;
					}
				}
			}
		}
	}
}
/* 大屏 */
@media only screen and (min-width: 600px) {
	.detail{
		position: relative;
		max-width: 960px;
		margin: 0 auto;
		padding: 30px 20px;
		background: rgba(255,255,255,.5);
		.titl{
			position: relative;
			height: 92px;
			line-height: 92px;
			text-align: center;
			font-size: 24px;
			font-weight: 700;
			color: #000;
		}
		.hljs{
			font-size: 16px;
		}
		.heading{
			font-size: 18px;
			font-weight: bold;
			padding-bottom: 0;
			color: #333;
			line-height: 1.5;
			padding-bottom: 10px;
			border-bottom: 1px solid #ddd;
		}
		.lineP{
			font-size: 15px;
			margin-top: 20px;
		}
		.detailFooter{
			padding-top: 40px;
			p{
				line-height: 30px;
				font-size: 13px;
				color: #000;
				i{
					display: inline-block;
					width: 14px;
					height: 14px;
					background: url(~@/assets/img/icon/date.png) no-repeat;
					background-size: 100%;
					vertical-align: middle;
				}
				&.biaoqian{
					i{
						background: url(~@/assets/img/icon/biaoqian.png) no-repeat;
						background-size: 100%;
					}
				}
			}
		}
	}
}
// code{
// 	font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
// }