.ellipsis{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.hand{
    cursor: pointer;
}
.tx-c{
    text-align: center;
}
.tx-l{
    text-align: left;
}
.tx-r{
    text-align: right;
}
.lh-min{
    line-height: 1;
}
.lh-med{
    line-height: 1.5;
}
.lh-max{
    line-height: 2;
}