.input-search{
	display: flex;
	input{
		flex: 1;
	}
}
/* 甲鱼的屁股: 小于600px, (100 / 750) 设置以后 1rem = 100px */
@media only screen and (max-width: 600px) {
  html{
		font-size: 13.333333333vw;
		font-family: 'KaiTi';
	}
	.input-search{
		border: .02rem solid #eee;
		input{
			height: .88rem;
			border: 0;
			padding-left: .16rem;
		}
		i{
			width: .88rem;
			height: .88rem;
			background: url(~@/assets/img/icon/search.svg) no-repeat center;
			background-size: .4rem;
			cursor: pointer;
		}
	}
	.z-tag{
		display: inline-block;
		height: .48rem;
		line-height: .52rem;
		padding: 0 .2rem;
		font-size: .24rem;
		border: .02rem solid #e9e9eb;
	}
	.more{
		text-align: center;
		font-size: .24rem;
		color: #777;
		cursor: pointer;
		transition: opacity .5s;
		&:hover{
			opacity: .8;
		}
	}
	.mt30{
		margin-top: .3rem;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	html{
		font-family: 'KaiTi';
	}
  .input-search{
		border: 1px solid #e9e9eb;
		input{
			height: 44px;
			border: 0;
			padding-left: 8px;
		}
		i{
			width: 44px;
			height: 44px;
			background: url(~@/assets/img/icon/search.svg) no-repeat center;
			background-size: 20px;
			cursor: pointer;
		}
	}
	.z-tag{
		display: inline-block;
		height: 24px;
		line-height: 24px;
		padding: 0 10px;
		font-size: 12px;
		color: #777;
		border: 1px solid #e9e9eb;
	}
	.more{
		text-align: center;
		font-size: 12px;
		color: #777;
		cursor: pointer;
		transition: opacity .5s;
		&:hover{
			opacity: .8;
		}
	}
	.mt30{
		margin-top: 30px;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}